@{
    ViewData["Title"] = "Password Reset Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/login.css">

<div class="login-container">
    <div class="login-form-wrapper confirmation-wrapper">
        <div class="login-header">
            <div class="confirmation-icon success-icon">
                <i class="fas fa-check-circle"></i>
            </div>
            <h1 class="text-center">Password Reset Successful</h1>
            <p class="text-center">Your password has been reset successfully.</p>
        </div>

        <div class="confirmation-content">
            <p>You can now use your new password to log in to your account.</p>
            
            <div class="form-group text-center mt-4">
                <a asp-action="Index" class="btn btn-primary">Go to Login</a>
            </div>
        </div>
    </div>
    
    <div class="login-image">
        <div class="image-overlay"></div>
    </div>
</div>
